<div>
    <h1>Tercera Pagina</h1>
    <h2>Parrafo sobre mi</h2>
    <p>Hola me llamo Nicolas Cornejo, tengo 17 años (ya casi 18), estudio en la Unidad Educativa 
        Tecnico Salesiano, me encuentro en la Especialidad de Informatica con mencion en
        Programacion de Sistemas, mi actividad favorita es entrenar ya que estoy obsesionado
        con el Fisicoculturismo, ademas me gusta bastante el aprender tecnicas de canto gutural
        porque mi genero musical favorito es el metal y sus subgeneros, sin mucho mas que decir
        hola y adios estimado lector :D
    </p>
    <button (click)="navegacion4()">Atras</button> |
</div>